*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: fixed;
    top: 1.1%;
    left: 5%;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.header-bar {
    position: fixed;
    width: 23vw;
    height: 4vh;
    top: 20px;
    background-color: rgb(20, 20, 20, 0.3);

    border-radius: 55px;
    left: 65%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lesser-header-bar {
    position: fixed;
    width: 9vw;
    height: 4vh;
    top: 20px;
    background-color: rgb(20, 20, 20, 0.3);

    border-radius: 55px;
    left: 90%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headbar {
    display: flex;
    top: 60px; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

.button-Color {
    background-color: #363636;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

.big-display {
    display: flex;
    width: 100%;
    background-color: black;
    margin-bottom: 30px;
}

main {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrast-text{ 
    font-weight: bold;
    font-size: 26px;
    width: max-content;
    padding-bottom: 30px;
}

.main-bar {
    display: flex;
    width: 100vw;
    background-color: #B0D2FF;
    flex-direction: column;
}

.grids-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

#main-grid {
    display: flex;
    gap: 50px;
    align-items: center;
}

#second-main-grid {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
    width: max-content;
    align-self: center;
}

.big-featured { 
    width: 14vw;
    max-width: 300px;
    max-height: 400px;
    background-color: white;
    border-radius: 10px;
}

.small-featured {
    width: 6vw;
    height: 12vh;
    max-width: 200px;
    max-height: 300px;
    background-color: white;
    border-radius: 10px;
}

.centered-text {
    display: flex;
    position: relative;
    top: 20%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    background-color: #D8D8D8;
}

#qasection {
    background-color: pink;
}
#qa {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qatext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.question {
    width: fit-content;
    height: fit-content;
    background-color: yellow;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.answer {
    width: fit-content;
    height: fit-content;
    background-color: red;
    margin-bottom: 20px;
    font-size: 16px;
}

.margin-text {
    text-align: center;
}

.page-hidden {
    display: none;
}

.page-active {
    display: grid;
}

/* All Projects */

.background-bar {
    width: 100vw;
    height: auto;
}

.name-project-bar {
    display: flex;
    width: 50vw;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(161 161 161 / 0.5);
    border: black solid 1px;
}

.name-project-bar h1 {
    margin-left: 5vw;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.projects-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    margin-bottom: 10vh;
}

#projects-games {
    background-color: rgb(255, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
}

#projects-modding {
    background-color: rgb(66 159 239 / 0.5);
    display: flex;
    flex-direction: column;
}

#projects-misc {
    background-color: rgb(222 218 18 / 0.5);
    display: flex;
    flex-direction: column;
}

#projects-college {
    background-color: rgb(55 179 67 / 0.5);
    display: flex;
    flex-direction: column;
}

.card-project {
    width: 13vw;
    height: 250px;
    text-decoration: none;
    background-color: white;
}

.card-project img {
    width: 100%;
    height: 100%;
    color: transparent;
}

.card-project h3 {
    display: flex;
    justify-content: center;
    padding: 5%;
    color: white;
    background-color: rgb(61 61 61 / 0.15);
    position: relative;
    top: 23vh;
}

/* Models */

.model-section-title {
    display: flex;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-left: 8vw;
    font-size: 36px;
    align-self: flex-start;
    margin-top: 2vh;
}

#models-holoparty {
    background-color: #F2AADF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#models-misc {
    background-color: #9F8DBE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.models-grid {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 3vw;
}

.card-model {
    display: flex;
    width: 15vw;
    height: auto;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.card-model img{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    color: transparent;
}

.card-model h3 {
    margin: 0;
    color: white;
    padding: 3vh;
}

.advice {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 3vw;
    padding-bottom: 1vh;
    width: fit-content;
    height: fit-content;
}

.advice h1 {
    font-weight: bold;
    font-size: 14px;
    color: white;
}

/* Specific Project */


#project-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50vw;
    height: 60vh;
    background-color: #323232;
    border-radius: 10px;
    border: 1px solid black;
}

#project-info {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}

.desc {
    padding: 20px;
}

.panel-github {
    display: flex;
    justify-content: center;
}

.right-project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Ocupa o espaço restante */
    justify-content: space-between;
    padding: 20px;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 35vh;
    background-color: white;
}

#project-images{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#project-images img
{
    width: 135px;
    height: 100px;
    background-color: white;
    object-fit: cover;
}

/* Specific Model */

.showcase-model {
    display: flex;
    width: 55vw;
    height: 33vh;
    background-color: white;
    justify-content: center;
    margin-right: 200px;
}

.showcase-model img {
    border-radius: 15px;
    color: transparent;
}

#model-info {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    background-color: #323232;
    border-radius: 10px;
    border: 1px solid black;
}

.model-info-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
}

.model-info-desc {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 140px;
}

.sketchfab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 100px;
    height: 33px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #1F1F1F;
    color: white;
}

/* Contact */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(191 175 31 / 0.4);
    padding: 40px;
}

#sns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141414;
}

.sns {
    padding: 30px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 600px;
    height: 140px;
    margin-left: 50px;
    align-items: center;
}

.contacts {
    display: flex;
    max-width: 100px;
    height: 35px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* Media Queries para responsividade */


@media (min-width: 1024px) { /* PC */
    .logo {
        font-size: 18px;
    }

    .main-bar {
        padding: 40px 0 0 100px;
        height: 45vh;
    }

    .big-display {
        height: 90vh;
    }

    .big-featured {
        height: 28vh;
    }
}

@media (max-width: 1023px) and (min-width: 600px) { /* TABLET */
    .logo {
        font-size: 4vw; 
    }

    .main-bar {
        padding: 30px 0 0 1vw;
        height: 35vh;
    }

    .big-display {
        height: 60vh;
    }

    .big-featured {
        height: 17vh;
    }
}

@media (max-width: 599px) { /* CELULAR */

    .main-bar {
        padding: 30px 0 0 1vw;
        height: 25vh;
    }

    .big-display {
        height: 40vh;
    }

    .big-featured {
        height: 10vh;
    }
}