*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3A3A3A;
}

.logo {
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.header-bar {
    position: absolute;
    width: 440px;
    height: 43px;
    top: 55px;
    background-color: #1414144D;

    border-radius: 55px;
    left: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lesser-header-bar {
    position: absolute;
    width: 170px;
    height: 43px;
    top: 55px;
    background-color: #1414144D;

    border-radius: 55px;
    left: 85%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonHeadbar {
    display: flex;
    width: 120px;
    height: 30px;
    top: 60px; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

.button-Color {
    background-color: #363636;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

main {
    color: white;
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrast-text{
    font-weight: bold;
    margin: 30px;
    font-size: 26px;
}

.main-bar {
    display: flex;
    width: 1920px;
    height: 350px;
    background-color: gray;
}

#main-grid {
    display: flex;
    padding-left: 100px;
    gap: 50px;
    align-items: center;
}

#second-main-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 20px 20px;
    align-items: center;
}

.big-featured {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.small-featured {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 10px;
}

.carpe-diem {
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

.margin-text {
    text-align: center;
}

.page-hidden {
    display: none;
}

.page-active {
    display: grid;
}

/* All Projects */

#projects-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    max-width: 1000px;
    height: 530px;
    padding: 40px;
    padding-bottom: 70px;
    gap: 50px 100px;
    background-color: #363636;
    border: 1px solid black;
}

.card-project {
    display: flex;
    width: 200px;
    height: 195px;
    border-radius: 15px;
    text-align: center;
    flex-direction: column;
}

.card-project img {
    width: 100%;
    height: 100%;
}

.card-project h3 {
    margin: 0;
    color: gray;
    position: relative;
    top: 25px;
}

/* Models */

#models-grid {
    display: flex;
    max-width: 1000px;
    height: 600px;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.card-model {
    display: flex;
    width: 250px;
    height: auto;
    text-align: center;
    flex-direction: column;
}

.card-model img{
    background-color: white;
    border-radius: 15px;
}

.card-model h3 {
    margin: 0;
    color: gray;
    padding: 30px
}

/* Specific Project */

#project-view {
    display: none;
}

/* Specific Model */

#model-view {
    display: none;
}

/* Contact */

#black-bar{
    display: flex;
    width: 1920px;
    height: 230px;
    background-color: gray;
    align-items: center;
    border-bottom: solid white;
}

.discord-profile {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: white;
    margin-left: 50px;
}

#contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    width: 600px;
    height: 150px;
    margin-left: 50px;
}

.contacts {
    display: flex;
    max-width: 100px;
    height: 35px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
